$borderTest: 1px solid black;

$colorPrimary: #260101;

$colorSecondary: #D9BBA9;

$colorTertiary: #A67F68;

$colorQuaternary: #734E40;

$colorQuinary: #F2F2F2;

//#A67F68
//#D9BBA9
//#734E40
//#260101
//#F2F2F2

$fontMain:  "Source Code Pro", monospace;

$fontSecondary:  "Abel", sans-serif;

//  font-family: "Abel", sans-serif;
//  font-weight: 400;
//  font-style: normal;

//font-family: "Source Code Pro", monospace;
//font-optical-sizing: auto;
//font-weight: <weight>;
//font-style: normal;