@import url("https://fonts.googleapis.com/css2?family=Abel&family=Source+Code+Pro:wght@200..900&display=swap");
a {
  text-decoration: none;
  color: #260101;
}

body {
  background-color: #D9BBA9;
  color: #260101;
}
body header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: #A67F68;
  padding: 0 10px;
}
body header h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 1.2rem;
  max-width: 50%;
  text-align: end;
}
body header h1 a:active,
body header h1 a:hover {
  color: #F2F2F2;
}
body header .dropdown {
  display: inline-block;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
  padding-top: 30px;
}
body header .dropdown a i {
  color: #260101;
}
body header .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  width: 80px;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 4px 4px 12px #260101;
}
body header .dropdown .dropdown-content li {
  list-style: none;
  padding: 5px;
  font-size: 1rem;
}
body header .dropdown .dropdown-content li:hover {
  background-color: #734E40;
}
body header .dropdown .dropdown-content li:hover a {
  color: #F2F2F2;
}
body header .dropdown:hover a i {
  color: #F2F2F2;
}
body header .dropdown:hover .dropdown-content {
  background-color: #F2F2F2;
  display: block;
}
body main {
  background-color: #F2F2F2;
}
body footer {
  background-color: #D9BBA9;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 20px;
}
body footer a i {
  color: #260101;
}

#start {
  background: linear-gradient(#F2F2F2 30%, #D9BBA9 70%);
  background-size: auto;
  background-repeat: no-repeat;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  letter-spacing: 3px;
  height: 100%;
}
#start main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: transparent;
}
#start main .name,
#start main .pic {
  display: flex;
  justify-content: center;
}
#start main .name {
  align-items: end;
}
#start main .name a:hover {
  color: #A67F68;
}
#start main .pic {
  background: none;
}
#start main .pic img {
  width: 320px;
}

#mainPage main {
  text-align: center;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#mainPage main .big {
  font-family: "Source Code Pro", monospace;
  font-size: 1.7rem;
  line-height: 2rem;
  position: absolute;
  top: 200px;
}
#mainPage main .big .just {
  text-align: start;
}
#mainPage main .big .imagine {
  position: relative;
  left: 50px;
}
#mainPage main .big .just :first-child,
#mainPage main .big .just :nth-child(2),
#mainPage main .big .just :nth-child(3),
#mainPage main .big .just :nth-child(4),
#mainPage main .big .imagine :first-child,
#mainPage main .big .imagine :nth-child(2),
#mainPage main .big .imagine :nth-child(3),
#mainPage main .big .imagine :nth-child(4),
#mainPage main .big .imagine :nth-child(5),
#mainPage main .big .imagine :nth-child(6),
#mainPage main .big .imagine :nth-child(7),
#mainPage main .big .imagine :nth-child(8),
#mainPage main .big .imagine :nth-child(9) {
  animation-name: justimagine;
  animation-duration: 5.6s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}
#mainPage main .big .just :first-child {
  animation-delay: 0.4s;
}
#mainPage main .big .just :nth-child(2) {
  animation-delay: 0.8s;
}
#mainPage main .big .just :nth-child(3) {
  animation-delay: 1.2s;
}
#mainPage main .big .just :nth-child(4) {
  animation-delay: 1.6s;
}
#mainPage main .big .imagine :first-child {
  animation-delay: 2s;
}
#mainPage main .big .imagine :nth-child(2) {
  animation-delay: 2.4s;
}
#mainPage main .big .imagine :nth-child(3) {
  animation-delay: 2.8s;
}
#mainPage main .big .imagine :nth-child(4) {
  animation-delay: 3.2s;
}
#mainPage main .big .imagine :nth-child(5) {
  animation-delay: 3.6s;
}
#mainPage main .big .imagine :nth-child(6) {
  animation-delay: 4s;
}
#mainPage main .big .imagine :nth-child(7) {
  animation-delay: 4.4s;
}
#mainPage main .big .imagine :nth-child(8) {
  animation-delay: 4.8s;
}
#mainPage main .big .imagine :nth-child(9) {
  animation-delay: 5.2s;
}
@keyframes justimagine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#mainPage main p {
  font-family: "Abel", sans-serif;
  animation-name: fontIn;
  animation-duration: 6s;
  animation-timing-function: ease-in;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  font-size: 1rem;
  opacity: 0;
}
@keyframes fontIn {
  0% {
    z-index: -5;
    width: 800px;
    overflow: hidden;
    font-size: 14rem;
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 0;
  }
  100% {
    display: block;
    font-size: 1rem;
    opacity: 1;
    transform: translateX(0px);
  }
}

#aboutme main {
  font-family: "Abel", sans-serif;
  color: #260101;
}
#aboutme main section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 50px) 300px repeat(3, 1fr);
  grid-template-areas: "h1     h1" "h2     h2" "h3     h3" "pic    pic" "p1     p1" "p2     p2" "p3     p3";
}
#aboutme main section h1,
#aboutme main section h2,
#aboutme main section h3 {
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  padding-right: 20px;
}
#aboutme main section h1 {
  grid-area: h1;
}
#aboutme main section h2 {
  grid-area: h2;
}
#aboutme main section h3 {
  grid-area: h3;
}
#aboutme main section .picture {
  grid-area: pic;
  max-height: 450px;
  text-align: end;
}
#aboutme main section .picture img {
  height: 100%;
  width: auto;
}
#aboutme main section h5 {
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  color: #260101;
}
#aboutme main section .p1 {
  grid-area: p1;
}
#aboutme main section .p2 {
  grid-area: p2;
}
#aboutme main section .p3 {
  grid-area: p3;
}
#aboutme main section .p3 a:hover {
  font-size: larger;
}

#contact main form {
  margin: 20px 0;
  background-color: #260101;
}
#contact main form fieldset {
  border-color: #F2F2F2;
}
#contact main form fieldset,
#contact main form input[type=button] {
  color: #D9BBA9;
  text-transform: capitalize;
  font-size: 1.4rem;
}
#contact main form fieldset legend,
#contact main form fieldset input[type=button],
#contact main form input[type=button] legend,
#contact main form input[type=button] input[type=button] {
  font-family: "Source Code Pro", monospace;
  padding: 0 10px;
}
#contact main form fieldset div,
#contact main form input[type=button] div {
  display: flex;
  flex-direction: column;
  font-family: "Abel", sans-serif;
  margin-top: 15px;
}
#contact main form fieldset div input,
#contact main form fieldset div textarea,
#contact main form input[type=button] div input,
#contact main form input[type=button] div textarea {
  background-color: #F2F2F2;
  border: none;
  margin-top: 8px;
}
#contact main form fieldset input[type=button],
#contact main form input[type=button] input[type=button] {
  border: none;
  margin-top: 16px;
  padding: 5px 10px;
  background-color: #734E40;
  border-radius: 2px;
}

@media (min-width: 768px) {
  body header {
    justify-content: space-between;
    height: 110px;
  }
  body header h1 {
    font-size: 1.5rem;
  }
  body header h1 a:active,
  body header h1 a:hover {
    color: #F2F2F2;
  }
  body header .dropdown {
    display: inline-block;
    font-size: 2.5rem;
  }
  body header .dropdown a i {
    color: #260101;
  }
  body header .dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 15px;
    width: 120px;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 4px 4px 12px #260101;
  }
  body main {
    padding: 20px;
  }
  #start {
    font-size: 1.9rem;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  #start main {
    width: 80%;
  }
  #start main .name,
  #start main .pic {
    height: 50%;
  }
  #start main .name {
    height: 30%;
  }
  #start main .name a:hover {
    color: #A67F68;
  }
  #start main .pic {
    height: 70%;
  }
  #start main .pic img {
    width: auto;
    height: auto;
  }
  #mainPage main .big {
    font-family: "Source Code Pro", monospace;
    font-size: 4rem;
    line-height: 5rem;
    position: absolute;
    top: 200px;
  }
  #mainPage main .big .just {
    text-align: start;
  }
  #mainPage main .big .imagine {
    position: relative;
    left: 50px;
  }
  #mainPage main p {
    font-family: "Abel", sans-serif;
    animation-name: fontIn;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    font-size: 3rem;
    opacity: 0;
  }
  @keyframes fontIn {
    0% {
      z-index: -5;
      width: 800px;
      overflow: hidden;
      font-size: 14rem;
      opacity: 0;
      transform: translateX(-200px);
    }
    60% {
      opacity: 0;
    }
    100% {
      display: block;
      font-size: 3rem;
      opacity: 1;
      transform: translateX(0px);
    }
  }
  #aboutme main section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 150px) repeat(3, 1fr);
    grid-template-areas: "h1     h1      pic     pic" "h2     h2      pic     pic" "h3     h3      pic     pic" "p1     p1      p1      p1" "p2     p2      p2      p2" "p3     p3      p3      p3";
  }
  #aboutme main section .picture {
    max-height: 450px;
  }
  #aboutme main section .picture img {
    height: 100%;
    width: auto;
  }
  #aboutme main section .p3 a:hover {
    font-size: larger;
  }
  #contact main {
    display: flex;
    justify-content: center;
  }
  #contact main form {
    width: 100%;
    margin: 20px;
    padding: 10px;
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  body header {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
  }
  body header .dropdown {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  body header .dropdown a {
    display: none;
  }
  body header .dropdown .dropdown-content {
    display: flex;
    position: static;
    justify-content: center;
    width: 80%;
    padding: 0;
    margin: 0;
    gap: 20px;
    box-shadow: none;
    color: #260101;
  }
  body header .dropdown .dropdown-content li {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    padding: 15px;
    min-width: 100px;
  }
  body header .dropdown .dropdown-content li a {
    display: inline-block;
    color: #260101;
  }
  body header .dropdown:hover .dropdown-content {
    background-color: #A67F68;
    display: flex;
  }
  body footer a:hover i {
    color: #F2F2F2;
    font-size: larger;
  }
  #start {
    background: linear-gradient(90deg, #F2F2F2 50%, #D9BBA9 50%);
  }
  #start main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    margin: auto;
    background: transparent;
  }
  #mainPage main .big {
    font-family: "Source Code Pro", monospace;
    font-size: 7rem;
    line-height: 7rem;
    position: absolute;
    top: 200px;
    left: 200px;
  }
  #mainPage main .big .just {
    text-align: start;
  }
  #mainPage main .big .imagine {
    position: relative;
    left: 200px;
  }
  #mainPage main p {
    position: absolute;
    top: 500px;
    left: 600px;
  }
  @keyframes fontIn {
    0% {
      z-index: -5;
      width: 800px;
      overflow: hidden;
      font-size: 14rem;
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      display: block;
      font-size: 3rem;
      opacity: 1;
      transform: translateX(0px);
    }
  }
  #aboutme main section {
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: repeat(3, 150px);
    grid-template-areas: "h1     pic     p1" "h2     pic     p2" "h3     pic     p3";
    column-gap: 10px;
    margin: 0 100px;
  }
  #aboutme main section h1,
  #aboutme main section h2,
  #aboutme main section h3 {
    text-align: start;
  }
  #contact main {
    display: flex;
    justify-content: center;
  }
  #contact main form {
    width: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
